body{
    font-family: Arial, Helvetica, sans-serif;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#calculadora{
    width: 300px;
    height: 400px;
    background-color: #3c3caa;
    border-radius: 10px;
    margin-top: 150px;;
    border-style: solid;
    border-width: 1px;
}
#resultado{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 80%;
    height: 10%;
    border-radius: 10px;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    overflow:auto;
    font-size: 30px;
    border-style: solid;
    border-width: 1px;
}
.row{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
}
.row2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    
}
.row3{
    display: flex;
    align-items: center;
    width: 90%;
}
.row4{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 3px;
    gap: 10px;
}

.button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 55px;
    height: 55px;
    background-color: #8181ff;
    border-radius: 20px;
    cursor: pointer;
    margin: 2px ;
    font-size: 24px;
}
div.button:hover{
    opacity: 75%;
}
.plus{
    height: 110px;
    width: 55px;
    margin-left: 8px;
    margin-right: 10px;

}
.equal{
    background-color: #da0202;
}
.erase{
    background-color: #5c5b5b;
}
.operator{
    background-color: #a8a8b4;
}
